body {
  font-family: "Segoe UI", sans-serif;
  background: #121212;
  color: #EDEDED;
  text-align: center;
  padding: 40px;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  color: #42f5e6;
  margin-bottom: 20px;
}

#fileInput {
  margin-bottom: 20px;
  padding: 8px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

canvas {
  background-color: #1E1E1E;
  border-radius: 10px;
  padding: 20px;
}

p {
  margin-top: 30px;
  font-size: 1.2em;
}
